/claims_comb.jsonl
/claims_comb_for_training.jsonl
/claims_comb_test.jsonl
/claims_comb_train.jsonl
/corpus_comb.jsonl
/corpus_comb_for_training.jsonl
/data
/data_train
/global_warming_abstract.txt
claims_comb_test.bak.jsonl
claims_comb_train.bak.jsonl
